.rating-radio {
    display:none;
}
.rating-label {
    width:40px;
    height:40px;
    border-radius:50%;
    border:2px solid #4caf50;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    margin:0 4px;
    cursor:pointer;
    transition:0.3s;
}
.rating-radio:checked + .rating-label {
    background:#4caf50;
    color:white;
    transform:scale(1.1);
}

.btn-submit {
    background: linear-gradient(45deg, #4caf50, #81c784);
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    transition: 0.3s;
}
.btn-submit:hover {
    transform: translateY(-3px) scale(1.03);
}
